#color{
    position: absolute;
}                                         
#section .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}                                         

.pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height:100%;
    position: relative;
    border: 10px solid #fff;;
}   
                                      
.pick_box img{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}                                         
/* 
.pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height:100%;
    position: relative;
}   
                                      
.pick_box img{
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}          */