#color{
    position: absolute;
}

#section{}
#section .container{
    width: 100%;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gift_box{
    display: flex;
}


 .box{
     position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 500px;
    border-radius: 20px;
    flex-direction: column;
}

#section .container .box .img_1{
    height: 200px;
    display: flex;
}
#section .container .box h3{
    color: #fff;
    font-size: 20px;
}
#section .container .box .img_1 img{
    margin: 0px;
    padding: 0px;
    width: 200px;
}
.box a{
    text-decoration: none;
    font-size: 60px;
}
#section .container .box h2{
    margin-top: 10px;
    margin-bottom: 0px;
    color: #fff;
}
#section .container .box .img_2{
    display: flex;
    height: 200px;
}
#section .container .box .img_2 img{
    margin: 0px;
    padding: 0px;
    width: 200px;
}