#color{
    position: absolute;
}

#section .container{
    width: 100%;  
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#section .container .box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 500px;
     position: relative;
     border-radius: 20px;
}

#section .container .box img{
    width: 350px;
    height: 350px;
    border-radius: 10px;
}
#section .container .box h3{
    color: #fff;
    font-size: 17px;
}
#section .container .box a{
    padding: 20px 30px;
    background-color: #fff;
    color: blue;
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 30px;
}
