#color{
    position: absolute;
} 
                                        
#section .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}                           
/*               
#section .container .video_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100%;
    position: relative;
}                                         
#section .container .video_box video{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;padding-top: 30px;
}                                          */


#color{
    position: absolute;
}                                         
#section .container{
    width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}                                         
.pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height:100%;
    position: relative;
}   
                                      
.pick_box img{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}                                         