#color{
    position: absolute;
}    
#section{
    display: flex;
    justify-content: center;
    align-items: center;
}                                     
#section .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}                                         

.pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
    position: relative;
    border-radius: 20px;
    margin-top: 30px;
}   
                                      
.pick_box img{
    height: 100%;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}                                         
/* 
.pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height:100%;
    position: relative;
}   
                                      
.pick_box img{
    height: 380px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}          */