#color{
    position: absolute;
}                                         
#section .container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}                                         
#section .container .pick_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 100%;
    position: relative;
}   
                                      
#section .container .pick_box img{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;padding-top: 30px;
}                                         