#color{
    position: absolute;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#section .container .box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 80%;
    border-radius: 20px;
}
#section .container .box img{
    width: 300px;
    height: 230px;
}
#section .container .box a{
    border-radius: 10px;
    font-size: 100px;
    color: blue;
    text-decoration: none;
}
